footer{
  background: #fff;
  position: relative;
  .wrap{
    padding: 114px 49px 124px 49px;
    position: relative;
    .top{
      display: flex;
      justify-content: space-between;
      padding: 0 50px 30px 50px;
      border-bottom: 3px solid;
    }
    .title{
      font-size: 25px;
      line-height: 23px;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    .link{
      font-size: 12px;
      font-weight: 400;
      line-height: 23px; 
      letter-spacing: 0em;
      margin-bottom: 5px;
      display: block;
    }
  }
  .box-link{
    display: flex;
    gap: 50px;
    flex: 1;
  }
  .box-icon{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    flex: 1;
    .d-flex{
      max-width: 250px;
      flex-wrap: wrap;
    }
    .title{
      text-transform: unset;
    }
    .link-icon{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $Yellow01;
      border: 2px solid;
      border-radius: 10px;
    }
    .d-flex{
      gap: 5px;
    }
  }
  .divider-vertical{
    width: 1px;
    height: 195px;
    background: $Natural40;
    margin: 0 50px;
  }
  .divider-horizontal{
    width: 100%;
    height: 1px;
    background: $Natural40;
    margin: 30px 0;
    display: none;
  }
  .bottom{
    display: flex;
    .webew{
      margin-right: 30px;
    }
    .d-flex{
      margin-top: 51px;
    }
    .copyright{
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      margin-right: 80px;
    }
    .privacy{
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      text-decoration-line: underline;
    }
  }
  .cat{
    position: absolute;
    bottom: 50px;
    right: 198px;
  }
}

@media (max-width: 1440px){
  footer{
    .wrap{
      padding: 80px 49px 96px 49px;
      .top{
        flex-direction: column;
        .divider{
          &-vertical{
            display: none;
          }
          &-horizontal{
            display: block;
          }
        }
      }
      .box-icon{
        .d-flex{
          max-width: none;
        }
      }
    }
    .cat{
      right: 30px;
    }
  }
}

@media(max-width: 768px){
 footer{
  padding: 90px 16px 85px 16px; 
  .wrap{
    padding: 0;
    margin: 0;
    width: 100%;
    .top{
      padding: 0 27px 40px 27px;
    }
  }
  .box-link{
    flex-wrap: wrap;
  }
  .bottom{
    flex-wrap: wrap;
    padding-top: 120px;
    .webew{
      width: 152px;
      margin-bottom: 10px;
      margin-left: -20px;
    }
    .d-flex{
      width: 100%;
      margin-top: 0;
    }
    .copyright{
      margin-right: 20px;
    }
  }
  .cat{
    right: 0;
  }
 }
}