@import "variables";
@import "mixins";

// .body{
//   padding-top: 145px;
// }
.mo {
  display: none !important;
}

.wrap {
  max-width: 1400px;
  width: calc(100% - 100px);
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;

  &.v-center {
    align-items: center;
  }

  &.h-center {
    justify-content: center;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }
}

.green {
  color: $secondary;
}

//swiper
.swiper.swiper-1 {
  overflow: visible;
}

.highlight {
  display: inline-block;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: calc(100% - 13px);
    height: 14px;
    position: absolute;
    bottom: -3px;
    z-index: -1;
  }
}

.btn-yellow {
  width: 202px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  font-size: 15px;
  letter-spacing: 0.2em;
  font-weight: 700;
  border-radius: 12px;
  @include buttonHover($Yellow01, #000);
}

.link-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $Yellow01;
  border: 2px solid;
  border-radius: 10px;
}

.toggle {
  display: flex;
  align-items: center;
  padding: 0 13px;
  position: relative;
  background: $Yellow01;
  border: 2px solid #000;
  border-radius: 30px;
  height: 30px;
  transition: 0.3s;
  width: 75px;

  .text {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    transition: 0.3s;
    line-height: 1;

    &.hide {
      width: 0;
      opacity: 0;
      visibility: hidden;
      text-align: right;
    }
  }

  .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $Yellow01;
    border: 2px solid #000;
    position: absolute;
    left: calc(100% - 24px);
    ;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }

  &.active {
    background: #F4F5FB;

    .text {
      opacity: 0;
      visibility: hidden;
      width: 0;

      &.hide {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
    }

    .circle {
      left: 8px;
    }
  }
}

.accordion {
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin: 0 auto 20px auto;
  transition: 0.3s;
  cursor: pointer;

  .btn-accordion {
    width: 25px;
    height: 25px;
    position: relative;

    .line {
      width: 25px;
      height: 4px;
      background: $secondary;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  .text-accordion {
    flex: 1;

    .question {
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: #303234;
      display: block;
    }

    .answer {
      font-weight: 400;
      font-size: 18px;
      color: #969D9E;
      display: block;
      height: 0;
      padding-top: 0;
      overflow: hidden;
      box-sizing: border-box;
      transition: 0.2s;
    }
  }

  &.active {
    .btn-accordion .line:nth-child(1) {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    .text-accordion {
      .answer {
        height: auto;
        padding-top: 13px;
      }
    }
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }

  .hide {
    display: none;
  }
}

.banner {
  display: none;
}

.pop {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    position: relative;
    text-align: center;
    padding: 50px;
    background: #fff;
    border: 3px solid #000000;
    box-shadow: 15px 15px 0px #000000;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
  }

  &-title {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 25px;
  }

  &-desc {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 25px;
    word-break: break-all;
  }

  .box-btn {
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 8px 0;
  }
  .btn-yellow{
    height: 48px;
  }
  .btn-close-pop{
    position: absolute;
    right: 24px;
    top: 21px;
  }
  .pop-icon{
    margin-bottom: 25px;
  }
}

@media(max-width: 1024px) {
  .mo {
    display: block !important;
  }

  .pc {
    display: none !important;
  }
}

@media(max-width: 900px) {
  .accordion {
    gap: 20px;

    .text-accordion {
      .question {
        font-size: 18px;
      }

      .answer {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 400px) {
  .pop{
    .pop-container{
      width: calc(100% - 60px);
      padding: 30px;
    }
  }
}