.d-flex{
  display: flex;
  &.v-center{
    align-items: center;
  }
  &.h-center{
    justify-content: center;
  }
  &.center{
    align-items: center;
    justify-content: center;
  }
  &.between{
    justify-content: space-between;
  }
}