@import "variables";
.d-flex{
  display: flex;
  &.v-center{
    align-items: center;
  }
  &.h-center{
    justify-content: center;
  }
  &.center{
    align-items: center;
    justify-content: center;
  }
  &.between{
    justify-content: space-between;
  }
}

.green{
  color: $secondary;
}

//swiper
.swiper.swiper-1{
  overflow: visible;
}

.highlight{
  display: inline-block;
  position: relative;
  z-index: 1;
  &::after{
    content: "";
    width: calc(100% - 13px);
    height: 14px;
    position: absolute;
    bottom: -3px;
    z-index: -1;
  }
}