@import "reset";
@import "fonts";
@import "variables";

.wrapper {
  height: 100vh;
  display: flex;
}

.gnb {
  width: 230px;
  background-color: #000;

  .list-item {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .link {
    flex: 1;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    &.active{
      color: $secondary;
    }
  }
  .gray{
    color: #666666;
    font-family: 'Roboto';
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .blank{
    width: 20px;
    display: block;
  }
  .icon{
    margin-right: 5px;
  }
  .btn-toggle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-sub{
    border-top: 1px solid #292C31;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 10px 20px 0 5px;
    .sub-link{
      .top{
        display: flex;
        align-items: center;
        width: 100%;
      }
      .circle{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #3D73DD;
        margin-right: 5px;
      }
      .link{
        justify-content: space-between;
      }
    }
  }
}