@import "reset";
@import "fonts";
@import "variables";
@import "mixins";

.wrapper {
  height: 100vh;
  display: flex;
  color: #080B12;
}

.gnb {
  width: 230px;
  background-color: #080B12;

  .list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
    transition: 0.3s;

    &.active {
      .list-sub {
        height: 180px;
      }

      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  .arrow {
    transition: 0.3s;
  }

  .border {
    border-top: 1px solid #292C31;
    border-bottom: 1px solid #292C31;
  }

  .link {
    flex: 1;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 40px;

    &.active {
      color: $secondary;
    }
  }

  .gray {
    color: #666666;
    font-family: 'Roboto';
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  .blank {
    width: 20px;
    display: block;
  }

  .icon {
    margin-right: 5px;
    transition: 0.3s;
  }

  // .btn-toggle {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }

  .list-sub {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 5px;
    height: 0;
    overflow: hidden;
    transition: 0.3s;

    .sub-link {
      display: block;
      padding: 10px 0;

      .top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 20px;
      }

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #3D73DD;
        margin-right: 5px;
      }

      .link {
        justify-content: space-between;
      }

      .bottom {
        padding-left: 20px;

        .gray {
          line-height: 20px;
        }
      }
    }
  }
}
.box-dropdown{
  display: flex;
  align-items: center;
  gap: 10px;
}

.main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background: #F5F4F4;


  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    background: #080B12;
    gap: 30px;
    padding-right: 20px;

    .dropdown {
      transition: 0.3s;
      position: relative;
      color: #fff;

      .wrap-language {
        position: absolute;
        bottom: -93px;
        left: 0;
        height: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background: #000;
        border-radius: 20px;
        width: 140px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        overflow: hidden;
        .language {
          padding-left: 15px;
          transition: 0.2s;
          &:hover {
            background: #1f1f1f;
          }
        }
      }

      .language {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: flex-start;
        transition: 0.3s;
        font-weight: 600;
        height: 40px;
        width: 100%;
        font-size: 12px;
        cursor: pointer;
        line-height: 1;
      }

      &.active {
        .wrap-language {
          opacity: 1;
          visibility: visible;
        }

        .language {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }

    .btn-header {
      width: 26px;
      height: 26px;
      display: block;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      &.btn-wallet {
        &::after {
          background: url(../images/dashboard/wallet.png)
        }

        &.active {
          &::after {
            background: url(../images/dashboard/wallet_on.png)
          }
        }
      }

      &.btn-bell {
        &::after {
          background: url(../images/dashboard/bell.png)
        }

        &.active {
          &::after {
            background: url(../images/dashboard/bell_on.png)
          }
        }
      }

      &.btn-nft {
        &::after {
          background: url(../images/dashboard/nft.png)
        }

        &.active {
          &::after {
            background: url(../images/dashboard/nft_on.png)
          }
        }
      }

      &.btn-setting {
        &::after {
          background: url(../images/dashboard/setting.png)
        }

        &.active {
          &::after {
            background: url(../images/dashboard/setting_on.png)
          }
        }
      }

      &.btn-share {
        &::after {
          background: url(../images/dashboard/share.png)
        }

        &.active {
          &::after {
            background: url(../images/dashboard/share_on.png)
          }
        }
      }
    }
  }

  .content-top {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 65px 20px 15px 20px;

    .greeting {
      font-size: 14px;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .nickname {
      font-weight: 700;
      font-size: 20px;
    }
  }

  .btn-red {
    width: 148px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: #FF5454;
    border-radius: 4px;
  }

  .btn-black {
    width: 145px;
    height: 32px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-weight: 700;
  }

  .content {
    padding: 20px;
  }

  .wrap-card {
    gap: 10px;
    display: flex;
    margin-bottom: 28px;

    .card {
      // width: 285px;
      flex: 1;
      height: 405px;
      border-radius: 6px;
      background: #fff;
      overflow: hidden;
      border: 1px solid #C0C4CD;

      &-summary {
        border: 1px solid #666;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
      }
    }
  }

  .box-white {
    padding: 20px 20px 7px 20px;

    .box-value {
      margin-bottom: 20px;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
  }

  .box-gray {
    background: #F5F4F4;
    padding: 10px;
  }

  .gray {
    font-weight: 700;
    font-size: 14px;
    color: #555D67;
    line-height: 20px;
    margin-bottom: 5px;
    display: flex;
    gap: 2px;
    align-items: center;
  }

  .value {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    line-height: 20px;
    font-family: 'roboto';

    span {
      line-height: 20px;
      font-family: inherit;
    }

    .dolor {
      font-size: 18px;
      font-weight: inherit;
    }

    .million {
      font-size: 16px;
      font-weight: inherit;
    }

    .num {
      font-weight: inherit;
    }

    &-detail {
      font-weight: 700;
      font-size: 12px;
      color: #666;
      line-height: 20px;
    }
  }

  .percent {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #00C585;
    font-family: 'roboto';

    &.minus {
      color: #FF1212;
    }

    .small {
      font-size: 12px;
      font-weight: inherit;
      font-family: inherit;
    }
  }

  //box-gray display:grid로 한줄에 두개씩 배치 gray의 자식은 width auto
  .card-summary {
    .box-gray {
      height: 130px;
      padding: 20px;

      .d-flex {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
      }

      .type {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .box-type{
      width: 110px;
    }
  }

  .card-round {
    padding: 10px;

    .gray {
      color: #000;
      margin-bottom: 20px;
    }
  }

  .card-assets {
    .box-gray {
      border-bottom: 1px solid #C0C4CD;
    }

    .box-statistics {
      padding: 10px;
      text-align: right;
      border-bottom: 1px solid #C0C4CD;

      .gray {
        justify-content: flex-end;
        margin: 0px;
      }

      .value {
        margin-bottom: 6px;
      }

      .percent {
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 20px;

        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
      }

      &:nth-last-of-type(1) {
        border: none;
      }
    }
  }

  .box-graph {
    display: flex;
    gap: 28px;

    .box-chart {
      flex: 1;
      padding: 20px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #C0C4CD;
      overflow: hidden;
    }

    .chart-head {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;

      .filter-list {
        display: flex;
      }

      .btn-filter {
        width: 38px;
        height: 19px;
        background: #fff;
        color: #C0C4CD;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #DEDEDE 1px solid;
        margin-left: -1px;
        font-weight: 500;
        font-size: 12px;

        &.active {
          color: #555D67;
          border-color: #A0A0A0;
          position: relative;
          z-index: 1;
        }
      }
    }

    .chart {
      img {
        width: 100%;
      }
    }
  }
}

.assets {
  .subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;

    .month {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 38px;
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 16px;
  }

  .content {
    padding-top: 40px;
  }

  .wrap-total {
    padding-right: 50px;
    display: flex;
    gap: 80px;
    align-items: center;
    margin-bottom: 30px;

    .total {
      width: 886px;
      background: #fff;
      border: 1px solid #666666;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      gap: 25px;

      &-type {
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
        display: block;
        text-transform: uppercase;
        color: #666;
      }

      .box-num {
        width: 265px;
        padding: 0 20px;
      }

      .value .num {
        font-size: 22px;
      }
    }

    .value {
      font-size: 22px;
      font-weight: 900;
      line-height: 20px;
      color: #3D73DD;
    }
  }

  .wrap-portion {
    height: 167px;
    margin-bottom: 30px;
    background: #37393D
  }

  .wrap-monthly {
    display: flex;
    gap: 28px;
    margin-bottom: 30px;
    flex-wrap: wrap;

    .subtitle {
      padding: 10px;
      display: block;
      margin: 0;
    }

    .box-assets {
      padding: 16px 30px;
      display: flex;
      gap: 35px;
      border: 1px solid #C0C4CD;
    }
  }

  .box-bar {

    .bar-type {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
    }

  }

  .fluctuation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    padding-left: 18px;
    line-height: 9px;
    margin-top: 10px;
    margin-bottom: 25px;

    &::before {
      content: '';
      width: 13px;
      height: 9px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &.up {
      color: #FF0000;

      &::before {
        background: url(../images/dashboard/up.svg) no-repeat;
      }
    }

    &.down {
      color: #0D61FF;

      &::before {
        background: url(../images/dashboard/down.svg) no-repeat;
      }
    }
  }

  .wrap-last {
    flex: 1;
  }

  .box-table {
    border-radius: 13px 13px 0 0;
    border: 1px solid #C0C4CD;
    overflow: hidden;
  }

  .table {
    width: 100%;
    text-align: left;
    table-layout: fixed;

    thead {
      background: #F2F3F3;
      border-bottom: 1px solid #C0C4CD;
    }

    .tr-gray {
      background: #F2F3F3;
      border-radius: 0 0 13px 13px;
      height: 60px;

      th {
        font-family: 'roboto';
      }
    }

    th {
      font-weight: 700;
      font-size: 14px;
      height: 40px;
      padding: 0 20px;
    }

    td {
      font-weight: 700;
      font-size: 12px;
      padding: 0 20px;
    }

    td.delete {
      width: 44px;
      height: 40px;
      padding: 0;
    }

    td.status {
      width: 44px;
      height: 40px;
      padding: 0;
      background: url(../images/dashboard/wait.svg) no-repeat center;
    }

    tbody {
      background: #fff;

      tr {
        height: 40px;
        border-bottom: 1px solid #C0C4CD;

        &:nth-last-child(1) {
          border-bottom: 0;
        }
      }
    }

    tr.complete {
      background: #E4EEFF;

      .status {
        background: url(../images/dashboard/complete.svg) no-repeat center;
      }
    }

    tr.processing {
      background: #FFF2EB;

      .status {
        background: url(../images/dashboard/processing.svg) no-repeat center;
      }
    }

    .btn-delete {
      padding-left: 12px;
    }

    .td-gray {
      min-width: 150px;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    span.td-gray {
      font-family: inherit;
      font-weight: inherit;
      color: #555D67;
      font-weight: 500;
    }

    td.td-gray {
      display: table-cell;
    }

    .operation {
      font-weight: 700;
      text-decoration: underline;
    }

    .date {
      font-family: 'roboto';
    }

    .red {
      color: #FF0000;
      font-weight: 700;
      font-family: 'roboto';
      text-align: right;
    }

    .green {
      color: #00C585;
      font-weight: 700;
      font-family: 'roboto';
      text-align: right;
    }
  }

  .wrap-wallet {
    margin-bottom: 30px;

    .box-table {
      border-radius: 13px;

      .td-gray {
        color: #666;
        font-weight: 500;
      }

      span.td-gray {
        color: #666;
      }
    }
  }

  .table-wallet,
  .table-coin {
    thead {
      height: 70px;
    }

    td {
      font-family: 'roboto';
      height: 50px;
      line-height: 1;
    }
  }

  .table-coin {
    thead {
      th {
        font-size: 14px;

        &:nth-last-child(1) {
          padding: 0;
        }
      }
    }
  }
}

.alert {
  padding: 24px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  border: 2px solid #090909;
  width: 374px;

  .btn-close-alert {
    margin-left: auto;
  }

  .alert-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 12px;
  }

  .alert-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .btn-cancle {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    @include buttonHover(#fff, #090909);
    width: 84px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .btn-submit {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    @include buttonHover(#090909, #fff);
    width: 84px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

.pop {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: #fff;
  border-radius: 8px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  display: none;

  &.active {
    display: block;
  }

  &-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #C0C4CD;

    .pop-title {
      font-weight: 700;
      font-size: 35px;
      line-height: 30px;
      font-family: 'raleway';
    }
  }

  &-body {
    .pop-desc {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #c0c4cd;

      p {
        font-size: 16px;
        font-family: 'raleway';
        line-height: 30px;
        text-align: center;
      }
    }

    .pop-list {
      overflow-y: auto;

      .pop-item {
        height: 62px;
        border-bottom: 1px solid #C0C4CD;

        &:nth-last-child(1) {
          border-bottom: 0;
        }

        label {
          width: 100%;
          height: 100%;
          padding: 0 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          &:focus,
          &:hover {
            background: #E4EEFF;
          }

          .left {
            display: flex;
            align-items: center;
            gap: 23px;
            font-weight: 700;
            font-size: 16px;
          }

          .right {
            display: flex;
            align-items: center;
            gap: 20px;

            .gray {
              font-weight: 700;
              font-size: 16px;
              line-height: 23px;
              color: #555D67;
            }
          }
        }

        input[type="radio"] {
          display: none;
        }

        input[type="radio"]:checked+label {
          background: #E4EEFF;
        }
      }
    }

    .box-radio {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      height: 132px;
      padding-left: 100px;

      label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        .circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid #C0C4CD;
        }
      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked+label {
        .circle {
          background: #FEED01;
          border-color: #000;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #000;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .box-input {
      padding: 0 50px;
      margin: 30px 0;

      .gray {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #61646B;
        margin-bottom: 15px;
      }

      .input-text {
        font-family: 'raleway';
        width: 100%;
        height: 50px;
        border-radius: 8px;
        padding: 12px;
        color: #000;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        background: #F3F3F3;
        border: 2px solid #000000;

        &::placeholder {
          color: #C0C4CD;
          font-family: 400px;
        }
      }
    }
  }

  &-footer {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-top: 1px solid #C0C4CD;

    .btn {
      width: 144px;
      height: 48px;
      border: 2px solid;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &.pop-network {
    width: 450px;

    .pop-body {
      .pop-list {
        height: 248px;
      }
    }
  }

  &.pop-connect {
    width: 450px;

    .pop-body {
      .pop-list {
        height: 310px;
      }
    }
  }

  &.pop-method {
    width: 450px;
  }

  &.pop-add {
    width: 450px;
  }

  &.pop-detail {
    width: 923px;

    .pop-body {
      padding: 50px 80px;

      .d-flex {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }

      .text {
        width: 203px;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        text-align: right;
      }

      .content {
        width: 520px;

        p {
          color: #000;
          text-align: left;
          font-size: 20px;
          line-height: 30px;
          text-transform: uppercase;
        }

        .green {
          font-weight: 700;
          color: #00C585
        }

        .red {
          font-weight: 700;
          color: #FF0000
        }
      }

      .box-input {
        margin: 0;
        padding: 0;
        width: 388px;
      }
    }
  }

  .icon-star {
    margin-left: 10px;
    margin-top: 2px;
  }

  .btn {
    font-size: 16px;
  }

  .btn-discount {
    width: 210px;
  }
}

.btn-gray {
  font-family: 'Noto Sans KR';
  min-width: 90px;
  padding: 0 16px;
  height: 36px;
  border: 1px solid #C0C4CD;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.box-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-black {
    justify-content: center;
  }
}

.icon-wallet {
  margin-right: 16px;
  display: block;
}

.d-flex {
  display: flex;
  align-items: center;
}

.wrap-wallet {
  .btn-black {
    width: 89px;
    height: 36px;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    justify-content: center;
    margin: 0 auto;
    font-size: 12px;
  }

  .table {
    .green {
      text-align: left;
    }

    .red {
      text-align: left;
    }
  }
}

@media screen and (max-width: 1440px) {
  .assets {
    .wrap-total {
      .total {
        width: auto;
        flex: 1;

        .box-num {
          width: auto;
        }
      }
    }
  }
}

.kr{
  .main{
    .btn-red{
      width: 156px;
      font-weight: 400;
    }
  }
}