@import "common";

[data-scroll-container],
[data-scroll-section] {
  perspective: 1px;
}

.body {
  background: $Yellow01;
  padding-top: 0;
}

.banner {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
  gap: 180px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 20;

  .d-flex {
    gap: 20px;

    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  .left {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 14px;
  }

  .right {
    display: flex;
    justify-content: space-between;
    flex: 1;
    color: $Natural40;
    font-size: 12px;
  }

  .content {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  p {
    font-weight: 600;
    text-transform: uppercase;
    color: $Natural40;
    font-size: 12px;
  }

  .white {
    color: #fff;
  }

  &.close {
    display: none;
  }

  .pill-yellow {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #000;
    background: var(--primary, #FEED01);
    color: #000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.article-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.sec-video {
  padding-bottom: 80px;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;

    &[poster] {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  .box {
    width: 100%;
    margin-bottom: 80px;
  }

  .sub-title {
    font-size: 30px;
    line-height: 1.4;
    position: relative;
    z-index: 1;
    color: #fff;
  }

  .video-title,
  .video-subtitle {
    display: block;
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }

  .video-title {
    margin-bottom: 20px;
    width: 670px;
  }

  .video-subtitle {
    margin-bottom: 24px;
    width: 484px;
  }

  // .des {
  //   font-size: 16px;
  //   font-weight: 400;
  //   margin-bottom: 35px;
  // }

  .box-btn {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 30px;

    .link {
      width: 270px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000;
      border-radius: 12px;
      font-weight: 700;
      @include buttonHover(#fff, #000);
    }
  }

  video {
    display: block;
    margin: 0 auto 20px auto;
  }
}

.article-coin {
  position: relative;
  z-index: 1;
}

.sec-coin {
  min-height: 100vh;
  background: $Yellow01 url(../images/main/coin-bg.svg) 50% 50% / contain no-repeat;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;

  .wrap {
    padding-left: 180px;
    height: 100%;
    padding-top: 116px;
    position: relative;
  }

  .monster {
    position: absolute;
    right: -42px;
    bottom: -102px;
    z-index: 5;
  }

  .content {
    width: 762px;
  }

  .title {
    font-size: 45px;
    line-height: 63px;
    margin-bottom: 18px;
  }

  .des {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;

    strong {
      color: #3D73DD;
      font-weight: 700;
    }
  }

  .wrap-shadow {
    position: relative;

    .shadow {
      position: absolute;
      right: -10px;
      bottom: -16px;
      width: 100%;
      height: 100%;
      background: #000;
      border-radius: 15px;
      z-index: 0;
    }
  }

  .box-percent {
    height: 211px;
    padding: 0 50px;
    background: #fff;
    color: #090909;
    border: 3px solid;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    margin-bottom: 70px;
    // transform: translate(10px, 16px);
    transition: 0.3s;

    .wrap-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 45px 0;
    }

    .d-flex {
      width: 50%;
      gap: 20px;

      &:nth-of-type(even) {
        padding-left: 34px;
      }
    }

    .number {
      font-size: 60px;
      line-height: 50px;
      font-weight: 400;
      width: 165px;
      text-align: right;
    }

    .text {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.25em;
      padding-top: 6px;
    }
  }

  .highlights {
    font-size: 18px;
    line-height: 30px;

    .highlight {
      .soon {
        position: absolute;
        right: -156px;
        bottom: 0;
      }

      &::after {
        background: #D5E823;
        left: 22px;
      }
    }
  }

  // &.active {
  //   .box-percent {
  //     transform: translate(0);
  //   }
  // }
}

.sec-network {
  width: 100%;
  min-height: 100vh;
  background: #F3F3F3;
  padding-top: 99px;
  text-align: center;
  position: relative;
  padding-bottom: 80px;

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    font-size: 45px;
    line-height: 0.6;
    margin-bottom: 25px;
  }

  .des {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 48px;
    color: $Natural30;
  }

  .box-swiper {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .swiper-coin {
    width: 100%;
  }

  .swiper-wrapper {
    height: 620px;
    align-items: center;
  }

  .swiper-slide {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    .box-img {
      width: 188px;
      transition: 0.3s;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        width: 514px;
        height: 436px;
        background: url(../images/main/network-coin-1.png) 50% 50% / cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.5s;
        z-index: 0;
      }

      &.coin-2::after {
        background: url(../images/main/network-coin-2.png) 50% 50% / cover;
      }

      &.coin-3::after {
        background: url(../images/main/network-coin-3.png) 50% 50% / cover;
      }

      &.coin-4::after {
        background: url(../images/main/network-coin-4.png) 50% 50% / cover;
      }

      img {
        width: 100%;
        margin-bottom: 30px;
        display: block;
      }
    }

    &.swiper-slide-active {
      .box-img {
        width: 357px;

        &::after {
          transform: translate(-50%, -50%) scale(1);
          transition: 0.5s 0.2s;
        }

        img {
          filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
        }
      }

      .box-text {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .btn-swiper {
    position: absolute;
    top: calc(50% - 88px);
    transform: translateY(-50%);
    z-index: 2;

    img {
      width: 55px;
    }
  }

  .btn-next {
    right: -45px;
  }

  .btn-prev {
    left: -45px;

    img {
      transform: rotate(-180deg);
    }
  }

  .box-text {
    text-align: center;
    opacity: 0;
    width: 100%;
    transition: 0.3s;
    pointer-events: none;

    .coin-type {
      font-size: 30px;
      line-height: 1;
    }

    .percent {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
    }

    .gray {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: #555D67;
      margin-bottom: 18px;
    }

    .link {
      width: 185px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000;
      border-radius: 10px;
      font-weight: 700;
      @include buttonHover(#fff, #000);
      margin: 0 auto;
    }
  }
}

.sec-slider {
  width: 100%;
  position: relative;

  &.fixed {
    .slide-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }

    .background {
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  &.fixend {
    .slide-container {
      position: absolute;
      top: auto;
      bottom: 0;
      width: 100%;
      height: 100vh;
    }

    .background {
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }

  .text {
    position: absolute;
    top: 188px;
    left: max(calc((100% - 1400px)/2 + 184px), 50px);
  }

  .scroll {
    position: absolute;
    width: 100%;
    left: max(calc((100% - 1400px)/2 + 184px), 50px);
    top: 451px;
    height: 300px;
    max-width: 2000px;
    min-width: 1600px;
  }
}

.sec-slide {
  position: relative;
  background: #000;

  .background {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/main/how-bg.jpg) top center / cover no-repeat;
    z-index: 0;
  }

  .wrap {
    display: flex;
    gap: 60px;
    position: relative;
    padding-top: 126px;
    padding-bottom: 126px;
  }

  .box-title {
    width: 300px;

    .scroll-area {
      position: relative;
      padding-bottom: calc(488px + 60vh);
    }

    .obj-1 {
      position: absolute;
      right: 0;
      bottom: calc(60vh);
      max-width: none;
      width: auto;
    }

    .title {
      font-size: 45px;
      line-height: 1.46;
      color: #fff;
      margin-bottom: 28px;
    }

    .subtitle {
      font-size: 26px;
      color: #fff;
    }
  }

  .box-card {
    display: flex;
    gap: 80px;
    position: relative;
    z-index: 1;
  }

  .card {
    width: 367px;
    color: #fff;
    transition: 0.3s linear;
    position: relative;

    &-title {
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 14px;
      line-height: 1.2;
    }

    &-des {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.4;

      .soon {
        margin-top: 27px;
        color: #000;
      }
    }

    &-img {
      height: 450px;
      width: 100%;
      object-fit: cover;
      border: 2px solid #000000;
      box-shadow: 6px 6px 0px #000000;
      border-radius: 10px;
      margin-bottom: 25px;
    }

    &-1 {
      margin: 20px 0 144px;
    }

    &-3 {

      // margin-bottom: 144px;
      .coin2 {
        position: absolute;
        top: 200px;
        left: -71px;
      }
    }

    &-2 {
      margin-top: 382px;

      .coin1 {
        position: absolute;
        top: -18px;
        right: -67px;
      }
    }

    &-4 {
      margin-top: 144px;
    }
  }

  &.tablet {
    .background {
      height: 100%;
    }

    .right-line {
      padding-top: 126px;
    }

    .card {
      margin: 20px 0 144px !important;
      opacity: 0;
      visibility: hidden;
      transform: translateY(50%);
      transition: 1s;

      &.is-inview {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.sec-membership {
  background: $Yellow01;

  .wrap {
    padding: 100px 90px 90px 90px;
    position: relative;
  }

  .dog {
    position: absolute;
    top: 82px;
    right: 50px;
    width: 294px;
  }

  .title {
    font-size: 45px;
    line-height: 1.46;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .text-hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: .7s ease-out;
    display: block;
  }

  .subtitle {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .des {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;

    .blue {
      font-weight: 600;
      color: $primary;
    }
  }

  .highlight {
    &::after {
      width: calc(100% + 4px);
      background: #53FFC7;
      left: -2px;
    }
  }

  .link-more {
    width: 202px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: 700;
    border-radius: 12px;
    @include buttonHover($Yellow01, #000);
  }

  .scroll {
    top: 531px;
  }

  .box-list {
    display: flex;
    gap: 10px 43px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 74px;
    position: relative;
  }

  .marquee {
    max-width: none;
    width: auto;
  }

  .marquee-1 {
    position: absolute;
    top: 412px;
    left: 527px;
  }

  .marquee-2 {
    position: absolute;
    top: 1093px;
    right: 582px;
  }

  .list {
    min-width: 377px;
    width: 377px;
    opacity: 0;
    transform: translateY(50%);
    transition: 1s;

    img {
      width: 367px;
      height: 383px;
      border: 2px solid #000000;
      box-shadow: 6px 6px 0px #000000;
      border-radius: 10px;
      object-fit: cover;
      margin-bottom: 25px;
    }

    .list-title {
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      color: #090909;
      margin-bottom: 10px;
    }

    .list-des {
      font-size: 18px;
      line-height: 25px;
    }

    &-2 {
      margin-top: 108px;
    }

    &-3 {
      margin-top: -56px;
    }

    &-5 {
      margin-top: 112px;
    }

    &-6 {
      margin-top: -66px;
    }

    &.is-inview {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card-wrap {
    display: flex;
    gap: 50px;

    .card {
      width: 325px;
      min-width: 325px;
      height: 270px;
      border-radius: 10px;
      background: #fff;
      border: 3px solid;
      overflow: hidden;
      color: $primary;
      box-shadow: 8px 8px 0px 0px #3D73DD;

      .content {
        padding: 25px 20px;
        font-size: 16px;
        font-weight: 400;
        word-break: keep-all;
        letter-spacing: -0.2px;
        color: #000;
      }

      &:nth-child(2) {
        color: $secondary;
        box-shadow: 8px 8px 0px 0px #00C585;
      }
    }
  }

  .text {
    top: 170px;
  }

  &.is-inview {
    .text-hide {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.sec-partner {
  height: 800px;
  background: #000;
  padding-top: 99px;
  text-align: center;
  position: relative;
  overflow: hidden;

  // transition: background-position-y 0.5s cubic-bezier(0.68,-0.55,0.27,1.55);;
  .cats {
    display: block;
    margin: 0 auto 40px auto;
  }

  .title {
    font-size: 50px;
    line-height: 0.7;
    color: #fff;
    margin-bottom: 20px;
  }

  .des {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 88px;
    color: #747E80;
  }

  .box-link {
    display: flex;
    flex-wrap: wrap;
    gap: 36px 25px;
    position: relative;
    z-index: 1;
  }

  .link-partner {
    width: calc(20% - 20px);
    height: 90px;
    border-radius: 10px;
    border: 2px solid #fff;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    background: #000;

    &:hover {
      opacity: 1;
      scale: 1.1;
    }
  }

  .coin {
    position: absolute;
    z-index: 0;
    top: -100%;
    overflow: hidden;

    &1 {
      left: 0;
      top: 635px;
    }

    &2 {
      left: 117px;
      top: 119px;
    }

    &3 {
      top: 316px;
      left: 227px;
    }

    &4 {
      top: 634px;
      right: 488px;
    }

    &5 {
      top: -40px;
      right: 187px;
    }

    &6 {
      top: 257px;
      right: 0;
    }
  }
}

.sec-contact {
  height: 900px;
  background: $secondary;
  display: flex;
  gap: 100px;

  .wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .left {
    position: relative;

    .wrap-input {
      width: 660px;
      height: 553px;
      border-radius: 20px;
      background: #fff;
      border: 2px solid;
      padding: 50px;
      display: flex;
      gap: 15px 20px;
      flex-wrap: wrap;
      z-index: 1;
      position: relative;
      transform: translate(11px, 11px);
      transition: 0.2s;
    }

    .input {
      display: flex;
      align-items: center;
      background: #F3F3F3;
      border: 2px solid #F3F3F3;
      border-radius: 8px;
      height: 50px;
      padding: 0 12px;
      color: #000;
      font-weight: 500;
      font-size: 15px;
      width: 100%;
      box-sizing: border-box;

      &::placeholder {
        color: #BABABB;
      }

      &:focus {
        border-color: #000;
      }

      &.short {
        flex: 1;
      }
    }

    .text-box {
      width: 100%;
      position: relative;
    }

    .textarea {
      padding: 12px 24px 30px 12px;
      height: 128px;
      resize: none;
      position: relative;

      &::after {
        content: '1/100';
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .length {
      position: absolute;
      right: 24px;
      bottom: 30px;
      font-size: 14px;
      font-weight: 500;
      color: #61646B;

    }

    .shadow {
      position: absolute;
      right: -11px;
      bottom: -11px;
      width: 100%;
      height: 100%;
      background: #000;
      border-radius: 20px;
      z-index: 0;
    }
  }

  &.is-inview {
    .left {
      .wrap-input {
        transform: translate(0);
      }
    }
  }

  .right {
    max-width: 396px;

    .captcha {
      margin-bottom: 30px;
    }

    .btn-send {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.2em;
      border-radius: 10px;
      width: 302px;
      height: 60px;
      margin-bottom: 30px;
      @include buttonHover($Yellow01, #000)
    }

    .privacy {
      font-size: 18px;
      font-weight: 400;

      a {
        text-decoration: underline;
      }
    }
  }

  .title {
    font-size: 45px;
    line-height: 1.46;
    margin-bottom: 5px;
  }

  .des {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 150px;
  }
}

.sec-question {
  min-height: 900px;
  background: #000;
  padding-top: 142px;
  padding-bottom: 114px;
  position: relative;
  overflow: hidden;

  .title {
    font-size: 45px;
    line-height: 1.46;
    margin-bottom: 83px;
    color: #fff;
    text-align: center;
  }

  .box-accordion {
    max-width: 950px;
    margin: 0 auto;
  }

  .link-more {
    width: 187px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: 700;
    margin-top: 20px;
    margin-left: auto;
    color: $Yellow01;
  }

  .coin {
    position: absolute;
    z-index: 0;
    top: -100%;
    overflow: hidden;

    &1 {
      left: 0;
      top: 635px;
    }

    &2 {
      left: 117px;
      top: 119px;
    }

    &3 {
      top: 316px;
      left: 227px;
    }

    &4 {
      top: 634px;
      right: 488px;
    }

    &5 {
      top: -40px;
      right: 187px;
    }

    &6 {
      top: 257px;
      right: 0;
    }
  }
}

.sec-news {
  padding-top: 218px;
  background: $Yellow01;
  position: relative;
  z-index: 0;

  .dogs {
    position: absolute;
    top: 126px;
    right: 10%;
  }

  .title {
    font-size: 45px;
    line-height: 1.46;
    margin-bottom: 9px;
    text-align: center;
  }

  .des {
    font-size: 20px;
    line-height: 1.15;
    color: $Natural30;
    text-align: center;
    margin-bottom: 111px;
  }

  .news {
    height: 480px;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
  }

  .img {
    width: 50%;
    border-top-left-radius: 100px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .text {
    width: 50%;
    padding: 35px 70px;
    border-top-right-radius: 100px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #000;

    .date {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .news-title {
      font-size: 20px;
      font-weight: 500;
      @include ellipsis(2, 1.15);
      margin-bottom: 25px;
      padding-right: 70px;
    }

    .divider {
      height: 3px;
      background: #000;
      margin-bottom: 25px;
    }

    .blue {
      font-size: 16px;
      font-weight: 600;
      color: $Teriary;
    }

    .content {
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      color: $Natural30;
      margin-bottom: 25px;
      padding-right: 70px;
      height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include ellipsis(6, 25px)
    }

    .link-more {
      width: 270px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      letter-spacing: 0.2em;
      font-weight: 700;
      color: #000;
      border: 3px solid #000;
      border-radius: 12px;
      @include buttonHover(#fff, #000)
    }
  }
}

.sec-newsletter {
  background: #fff;
  height: 550px;

  .background {
    padding-top: 110px;
    width: 100%;
    height: 100%;
    border-radius: 0 0 100px 100px;
    background: #000;
    max-width: 1400px;
    margin: 0 auto;
  }

  .title {
    font-size: 45px;
    line-height: 1.46;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
  }

  .des {
    font-size: 20px;
    line-height: 1.15;
    font-weight: 500;
    color: #51595A;
    text-align: center;
    margin-bottom: 120px;
  }

  .wrap-input {
    margin: 0 auto;
    display: flex;
    gap: 15px;
    justify-content: center;

    .input {
      width: 100%;
      max-width: 500px;
      background: #fff;
      border-radius: 10px;
      padding: 17px 23px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;

      &::placeholder {
        color: #000;
      }
    }

    .btn-subscribe {
      width: 267px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.2em;
      background: $Yellow01;
      border-radius: 10px;
      position: relative;
      text-transform: uppercase;

      &::after {
        content: "";
        width: 40px;
        height: 40px;
        background: url(../images/icon/arrow-right.svg) 50% 50% / cover;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.box-move {
  position: fixed;
  right: 42px;
  bottom: 90px;
  z-index: 1001;

  .btn-top {
    margin-bottom: 13px;
  }
}

@media (max-width: 1440px) {
  .sec-video {
    padding: 30px;
    padding-bottom: 0;

    .sub-title {
      font-size: 25px;
    }

    .title {
      font-size: 80px;

      span::after {
        width: 247px;
      }
    }
  }

  .sec-coin,
  .sec-partner,
  .sec-question {
    background-size: cover;
  }

  .sec-coin {
    .wrap {
      padding-left: 0;
    }

    .moster {
      right: 0;
      left: auto;
      width: 320px;
    }

    .title {
      font-size: 36px;
      line-height: 1.5;

    }

    .des {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }

  .sec-network {
    .title {
      font-size: 36px;
      line-height: 1.5;
    }

    .des {
      font-size: 18px;
    }
  }

  .sec-blockchains {
    .obj2 {
      display: none;
    }

    .title {
      font-size: 36px;
      line-height: 1.5;
    }

    .subtitle {
      font-size: 28px;
    }
  }

  .sec-membership {
    .obj {
      right: 30px;
      width: 240px;
    }

    .list {
      margin-top: 60px !important;
    }

    .title {
      font-size: 36px;
      line-height: 1.5;
    }

    .des {
      font-size: 18px;
    }
  }

  .sec-partner {
    .title {
      font-size: 36px;
    }

    .des {
      font-size: 18px;
    }
  }

  .sec-contact {
    height: 100vh;

    .wrap {
      gap: 48px;
    }

    .des {
      margin-bottom: 60px;
    }

    .left {
      flex: 1;

      .wrap-input {
        width: 100%;
      }
    }

    .right {
      .title {
        font-size: 36px;
      }

      .des {
        font-size: 18px;
      }

      .privacy {
        font-size: 16px;
      }
    }
  }

  .sec-question {
    .title {
      font-size: 36px;
    }
  }

  .sec-news {
    .dogs {
      display: none;
    }

    .title {
      font-size: 36px;
    }

    .des {
      font-size: 18px;
      margin-bottom: 80px;
    }

    .text {
      padding: 24px 30px;

      .news-title {
        padding-right: 0;
      }

      .content {
        padding-right: 0;
      }
    }
  }

  .sec-newsletter {
    height: 480px;

    .title {
      font-size: 36px;
    }

    .des {
      font-size: 18px;
      margin-bottom: 80px;
    }
  }
}

@media(max-width: 1281px) and (min-width: 1025px) {
  .sec-slide {
    .box-title {
      .title {
        font-size: 34px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .body {
    padding-top: 0;

    &.hide-banner {
      padding-top: 0;
    }
  }

  .banner {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 30px;
    gap: 30px;

    .banner-logo {
      display: none;
    }
  }

  .sec-blockchains-mo,
  .sec-membership-mo {
    padding: 110px 16px 266px 16px;
    background: url(../images/main/how-bg.jpg) center center / cover no-repeat;
    position: relative;
    color: #fff;
    position: relative;

    .obj1 {
      position: absolute;
      left: -34px;
      bottom: 0;
    }

    .title {
      font-size: 36px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .subtitle {
      font-size: 28px;
      margin-bottom: 50px;

      .green {
        color: $secondary;
      }
    }

    .card {
      &-img {
        height: 240px;
        width: calc(100% - 12px);
        object-fit: cover;
        border: 2px solid #000000;
        box-shadow: 6px 6px 0px #000000;
        border-radius: 10px;
        margin-bottom: 12px;
      }

      &-title {
        width: calc(100% - 24px);
        font-weight: 700;
        font-size: 20px;
        display: block;
        padding-left: 12px;
        margin-bottom: 8px;
      }

      &-des {
        width: calc(100% - 24px);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        display: block;
        padding-left: 12px;
      }
    }
  }

  .sec-coin .monster {
    width: 40%;
    bottom: 0;
  }

  .sec-membership-mo {
    background: $Yellow01;
    color: #000;
    padding: 30px 0 70px 30px;

    .title {
      margin-bottom: 10px;
    }

    .subtitle {
      margin-bottom: 20px;
    }

    .des {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 30px;

      .blue {
        font-weight: 600;
        color: $primary;
      }
    }

    .highlight {
      &::after {
        width: calc(100% + 4px);
        background: #53FFC7;
        left: -2px;
      }
    }

    .link-more {
      width: 202px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000;
      font-size: 15px;
      letter-spacing: 0.2em;
      font-weight: 700;
      border-radius: 12px;
      margin-bottom: 60px;
    }

    .card {
      // height: 270px;
      // overflow: hidden;

      .head {
        padding: 0;
        height: auto;

      }
    }
  }

  .sec-partner {
    padding-bottom: 80px;
    height: auto;

    .box-link {
      gap: 35px 10px;

      .link-partner {
        width: calc(33% - 10px);
      }
    }
  }

  .sec-contact {
    padding: 50px 30px;
    height: auto;

    .wrap {
      flex-direction: column;
      gap: 30px;

      .title {
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      .des {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 0px;
      }

      .right {
        max-width: 100%;

        .btn-send {
          width: 100%;
        }
      }
    }
  }

  .sec-news {
    .news {
      flex-direction: column;
      height: auto;
      width: 100%;

      .text {
        width: 100%;
        border-radius: 0;
      }

      .img {
        width: 100%;
        border-radius: 100px 100px 0 0;

        img {
          display: block;
        }
      }
    }
  }

  .sec-newsletter {
    .wrap-input {
      .input {
        width: 400px;
      }
    }
  }

  .sec-network {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: 100%;
    }

    .des {
      margin-bottom: 20px;
    }

    .swiper-wrapper {
      height: 680px;
      align-items: center;
    }

    .swiper-slide {
      .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .box-img {
          width: 60%;
        }
      }

      .box-img {
        &::after {
          width: 140%;
          aspect-ratio: 514/436;
          height: auto;
        }
      }

      .box-text {
        margin-top: 40px;
        width: 100%;
      }

      &.swiper-slide-active {
        .content {
          .box-img {
            width: 100%;
          }
        }
      }
    }

    .btn-next {
      display: none;
    }

    .btn-prev {
      display: none;
    }
  }

  .highlight.mo {
    display: inline-block !important;
  }
}

@media(max-width: 768px) {
  .wrap {
    width: calc(100% - 32px);
  }

  .banner {
    height: 106px;
    display: block;
    padding-top: 10px;

    .sas {
      margin-bottom: 10px;
    }

    .right {
      width: 100%;

      .content {
        display: block;
      }
    }
  }

  .sec-video {
    padding: 20px 16px;

    .sub-title {
      font-size: 20px;
      margin-bottom: 0;
    }

    .title {
      font-size: 45px;
      line-height: 1.2;
      margin-bottom: 20px;

      span::after {
        width: 136px;
        bottom: -5px;
        left: -3px;
      }
    }
  }

  .sec-network {
    height: auto;
    padding: 40px 0;
  }

  .sec-coin {
    height: auto;
    padding: 40px 0;

    .highlights .highlight::after {
      display: none;
    }

    .title {
      br {
        display: none;
      }
    }

    .wrap {
      padding-top: 0;
    }

    .moster {
      display: none;
    }

    .content {
      width: auto;
    }

    .box-percent {
      flex-wrap: wrap;
      height: auto;
      padding: 20px 30px;

      .number {
        width: 50%;
        text-align: left;
        font-size: 40px;
      }

      .text {
        width: 50%;
      }

      .d-flex {
        width: 100%;

        &:nth-of-type(even) {
          padding-left: 0;
        }
      }
    }

    .highlight-left {
      &::after {
        left: 0 !important;
        width: calc(100% + 8px);
      }
    }
  }

  .sec-contact {
    padding: 50px 16px;

    .left .wrap-input {
      padding: 20px;
    }

    .wrap {
      width: 100%;
    }
  }

  .sec-partner .title {
    line-height: 1.2;
  }

  .sec-newsletter {
    .background {
      border-radius: 0 0 60px 60px;
    }

    .wrap-input {
      flex-wrap: wrap;

      .input {
        width: 267px;
        height: 60px;
      }
    }

    .des {
      margin-bottom: 40px;
    }
  }

  .sec-news .news {
    .img {
      border-radius: 60px 60px 0 0;
    }
  }

  .sec-membership-mo {
    padding: 30px 15px 70px 15px;
  }

  .sec-coin .monster {
    display: none;
  }
}

@media(max-width: 500px) {
  .sec-network {
    .swiper-wrapper {
      height: 540px;
    }

    .swiper-slide {
      .content {
        .box-img {
          width: 50%;
        }

        .box-text {
          margin-top: 0;
        }
      }
    }

    .swiper-slide.swiper-slide-active .content {
      .box-img {
        &::after {
          width: 160%;
          aspect-ratio: 514/436;
          height: auto;
        }
      }
    }
  }
}