@import "common";

.body {
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &.tezos {
    &::after {
      background: #fff url(../images/networks/tezos-bg.jpg) 50% 0 no-repeat;
    }
  }

  &.kava {
    &::after {
      background: #fff url(../images/networks/kava-bg.jpg) 50% 0 no-repeat;
    }
  }

  &.akt {
    &::after {
      background: #fff url(../images/networks/akt-bg.jpg) 50% 0 no-repeat;
    }
  }
  &.sol {
    &::after {
      background: #fff url(../images/networks/sol-bg.jpg) 50% 0 no-repeat;
    }
  }
}

.wrap {
  padding: 0 60px;
}

.title {
  font-size: 35px;
  line-height: 1.4;
}

.sub-title {
  font-size: 30px;
  line-height: 1.4;
}

section {
  margin-bottom: 50px;
}

.sec-coin {
  padding-top: 289px;
  margin-bottom: 30px;

  .wrap-info {
    max-width: 990px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;

    .head {
      width: 100%;
      height: 106px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      border-bottom: 1px solid #000;

      .coin-title {
        font-size: 38px;
        line-height: 1.4;
      }
    }

    .content {
      padding: 30px 20px;
      text-align: center;
    }

    .validator {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 8px;
      color: #0C0C0C;
    }

    .address {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.2;
      margin-right: 15px;
      color: #090909;
    }
    .btn-copy{
      min-width: 27px;
    }

    .explorer {
      width: 260px;
      height: 40px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      margin: 10px auto 50px auto;
    }

    .box-info {
      display: flex;
      justify-content: center;
      gap: 100px;
      margin: 0 auto 40px auto;
    }

    .info {
      text-align: left;
    }

    .type {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 14px;
      color: #282828;
    }

    .value {
      font-weight: 700;
      font-size: 35px;
      line-height: 1.17;
      letter-spacing: -0.05em;
      margin-bottom: 14px;
      color: #090909;
      font-family: 'Roboto', sans-serif;
    }

    .link-more {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.2;
      color: #282828;
    }

    .btn-yellow {
      width: 175px;
      margin: 0 auto;
    }
  }
}

.sec-1 {
  .wrap {
    display: flex;
  }

  .sub-title {
    margin-bottom: 30px;
  }

  .des {
    color: #6E6E6E;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 60px;
  }

  .box-link {
    display: flex;
    gap: 10px;
  }

  .left {
    width: 50%;
    padding-right: 50px;
    border-right: 1px solid #000;
  }

  .right {
    width: 50%;
    padding-left: 50px;

    .factor {
      display: flex;
      gap: 40px 0;
      flex-wrap: wrap;

      .box {
        width: 33.3%;
        text-align: center;
      }
    }

    .value {
      font-size: 30px;
      line-height: 70px;
      vertical-align: middle;
      font-weight: 700;
      margin-bottom: 4px;
      font-family: 'Roboto', sans-serif;

      &.block {
        font-size: 24px;
        line-height: 1;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;

        small {
          font-size: 20px;
        }
      }

      small {
        font-weight: inherit;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
      }
    }

    .type {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      color: #616161;
    }
  }
}

.sec-2 {
  .box-calc {
    border: 1px solid #868686;
    border-radius: 16px;
    overflow: hidden;
  }

  .head {
    padding: 30px;
    padding-bottom: 19px;
    border-bottom: 1px solid #868686;

    .title {
      margin-bottom: 7px;
    }

    .des {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .price {
    text-align: center;
    font-size: 30px;
    line-height: 18px;
    margin-bottom: 30px;
  }

  .left {
    flex: 1;
    padding: 40px 30px 56px 52px;

    .label-text {
      font-size: 18px;
      line-height: 1;
      margin-bottom: 15px;
      font-weight: 500;
    }

    .label {
      width: 100%;
      background: #f3f3f3;
      border: 2px solid #000;
      display: flex;
      height: 50px;
      gap: 10px;
      align-items: center;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 0 12px;
      // .input{
      //   flex: 1;
      //   height: 100%;
      //   font-size: 15px;
      //   font-weight: 500;
      //   color: #555d67;
      //   appearance: none;
      // }
      // .btn-remove{
      //   display: block;
      //   img{
      //     display: block;
      //   }
      // }
    }

    .box-select {
      position: relative;
      border-radius: 8px;
      border: 2px solid #000;
      margin-bottom: 20px;
      &.active{
        border-bottom: 2px solid transparent;
        border-radius: 8px 8px 0 0;
        .arrow {
          transform: rotate(180deg);
        }
        .option-container {
          height: auto;
          opacity: 1;
          visibility: visible;
          cursor: pointer;
          pointer-events: all;
        }
      }

      .select {
        appearance: none;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        color: #555D67;
        cursor: pointer;
        border: 0;
        margin-bottom: 0;

        input {
          font-family: inherit;
          font-size: inherit;
          pointer-events: none;
        }
      }

      .option-container {
        height: 0;
        position: absolute;
        left: -2px;
        // bottom: 0;
        width: 100%;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow: hidden;
        border-radius: 0 0 8px 8px;
        border: 2px solid #000;
        border-top: none;
        box-sizing: content-box;
      }

      .option {
        height: 43px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        background: #F3F3F3;
        border-top: #C0C4CD solid 1px;
        font-size: 15px;
        font-weight: 500;
        color: #555d67;
        cursor: pointer;
        &:hover {
          background: #C0C4CD;
        }
      }

      .arrow {
        pointer-events: none;
        width: 16px;
        height: 16px;
        right: 12px;
        position: absolute;
        top: 16px;
        background: url(../images/icon/arrow-down.png) 50% 50%/contain no-repeat;
      }

    }

    .how {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 30px;
    }

    .box-range {
      width: calc(100% - 36px);
      height: 17px;
      padding: 5px 8px;
      position: relative;
      margin-bottom: 30px;
      background: #FFFFFF;
      box-shadow: inset 0px 5px 6px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }

    .range {
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      background-color: transparent;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 31px;
        height: 31px;
        background: url(../images/icon/rangethumb.png) 50% 50%/contain no-repeat;
      }
    }

    .fee {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.4;
      color: #7D7D7D;
      margin-bottom: 40px;
    }

    .gap-40 {
      gap: 0 40px;
      flex-wrap: wrap;
      margin-bottom: 40px;

      .box {
        width: calc(50% - 20px);

        .gray {
          font-weight: 500;
          font-size: 13px;
          font-weight: 1.4;
          font-family: 'Noto Sans KR', sans-serif;
          color: #61646B;
          margin-bottom: 12px;
        }
      }
    }

    .info-text {
      font-weight: 600;
      font-size: 13px;
      line-height: 1.4;
      color: #61646B;
    }
  }

  .right {
    width: 690px;
    background: #f4f5fb;
    padding: 40px 20px;

    .reward {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.4;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 15px;
    }

    .price {
      text-align: left;
      margin-bottom: 35px;
    }

    .graph {
      margin-bottom: 40px;
    }

    .table-price {
      border-spacing: 7px;
      width: 100%;

      tr {
        height: 50px;
        border-bottom: 1px solid #CECECE;

        td {
          font-size: 16px;
          font-weight: 600;
          font-family: 'Roboto', sans-serif;
          line-height: 1.2;
          text-align: right;
          color: #61646B;

          &:nth-child(1) {
            text-align: left;
          }
        }
      }
    }
  }
}

.sec-3 {
  .wrap {
    padding: 26px 55px 62px 55px;
  }

  .title {
    margin-bottom: 25px;
  }

  .des {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .guide {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    word-break: break-all;
    margin-bottom: 25px;
  }

  .swiper-box {
    display: flex;
    gap: 25px;
    align-items: flex-end;

    .swiper-image {
      width: 485px;
      border-radius: 10px;
      border: 2px solid #000;

      img {
        display: block;
      }
    }

    .swiper-guide {
      flex: 1;
    }
  }

  .controller {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 26px;
    }

    .d-flex {
      gap: 10px;

      span {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 400;
        font-family: 'roboto', sans-serif;
      }
    }
  }
}

.sec-4 {
  padding: 0 60px;

  .title {
    margin-bottom: 20px;
  }

  .accordion {
    padding: 15px 30px;
    margin-bottom: 10px;
    background: #F4F5FB;

    &:nth-last-of-type(1) {
      margin-bottom: 35px;
    }
  }

  .more {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #666;
    text-align: right;
    display: block;
    text-transform: uppercase;
  }
}

.sec-5 {
  .wrap {
    padding: 0 60px;
  }

  .title {
    margin-bottom: 32px;
  }

  .keep {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  .d-flex {
    gap: 45px;
  }
}

.sec-6 {
  .wrap {
    padding: 50px 60px;
    text-align: center;

    .title {
      font-size: 45px;
      line-height: 18px;
      margin-bottom: 40px;
    }

    .sub-title {
      line-height: 18px;
      margin-bottom: 64px;
    }

    .d-flex {
      gap: 15px;
    }
  }
}
.kr{
  .sec-coin .wrap-info .head{
    .coin-title{
      font-weight: 700;
    }
  }
  .sub-title{
    font-weight: 700;
  }
  .des{
    font-weight: 500;
  }
  .title{
    font-weight: 600;
  }
  .sec-2 .right{
    .reward{
      font-weight: 400;
      font-family: 'Pretendard', sans-serif;
    }
    .price{
      font-family: 'Paytone One', sans-serif;
    }
  }
  .sec-6 .wrap .sub-title{
    margin-bottom: 100px;
  }
  .sec-6 .wrap{
    padding-top: 110px;
  }
}

@media (min-width: 1921px){
  .body{
    &.tezos {
      &::after {
        background: #fff url(../images/networks/tezos-bg-big.jpg) 50% 0 no-repeat;
      }
    }

    &.kava {
      &::after {
        background: #fff url(../images/networks/kava-bg-big.jpg) 50% 0 no-repeat;
      }
    }

    &.akt {
      &::after {
        background: #fff url(../images/networks/akt-bg-big.jpg) 50% 0 no-repeat;
      }
    }
    &.sol {
      &::after {
        background: #fff url(../images/networks/sol-bg-big.jpg) 50% 0 no-repeat;
      }
    }
  }
}

@media (max-width: 1440px) {
  .wrap {
    padding: 0;
    width: calc(100% - 60px);
  }

  .sec-1 {
    .left {
      padding-right: 30px;
    }

    .right {
      padding-left: 30px;
    }

    .box-link {
      flex-wrap: wrap;
    }

    .des {
      margin-bottom: 30px;
    }
  }

  .sec-2 {
    .d-flex {
      flex-wrap: wrap;
      gap: 30px;
    }

    .right {
      width: 100%;
    }
  }

  .sec-3 .wrap {
    padding: 26px 0 62px 0;
  }

  .sec-4 {
    padding: 0;
  }

  .sec-5 .wrap {
    padding: 0;
  }
}

@media(max-width: 1024px) {
  .sec-coin{
    padding-top: 140px;
  }
  .sec-coin .wrap-info {
    margin: 0 30px;
  }

  .sec-coin .wrap-info .box-info {
    gap: 30px 50px;
    flex-wrap: wrap;

    .info {
      width: calc(50% - 25px);
    }
  }

  .sec-coin .wrap-info .address {
    font-size: 22px;
  }
}

@media(max-width: 900px) {
  .body {
    &.tezos {
      &::after {
        height: 70vh;
        background: #fff url(../images/networks/tezos-bg-mo.jpg) 50% 0 / cover no-repeat;
      }
    }
  }

  // .sec-coin {
  //   padding-top: 230px;
  // }

  .sec-1 {
    .wrap {
      flex-wrap: wrap;
    }

    .left,
    .right {
      width: 100%;
      padding: 0;
    }

    .left {
      border-right: none;
      border-bottom: 1px solid #000;
      padding-bottom: 50px;
    }

    .right {
      padding-top: 50px;
    }
  }

  .sec-3 .swiper-box {
    flex-wrap: wrap;

    .swiper-image {
      margin-left: 0;
    }

    .swiper-guide {
      flex: none;
      width: 100%;
    }
  }

  .sec-6 .wrap {
    padding: 0;

    .title {
      line-height: 1.4;
    }

    .sub-title {
      line-height: 1.4;
    }
  }

  .swiper-wallets .swiper-slide {
    width: 220px;
  }

  .swiper-have .swiper-slide {
    width: 244px;
  }
}

@media(max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .wrap {
    width: calc(100% - 32px);
  }

  .sec-coin {
    padding-top: 130px;
  }

  .sec-coin .wrap-info .head {
    img {
      width: 40px;
    }

    .coin-title {
      font-size: 32px;
    }
  }

  .sec-coin .wrap-info {
    .validator {
      text-align: left;
    }

    .address {
      word-break: break-all;
      text-align: left;
      font-size: 18px;
    }

    .explorer {
      margin: 32px auto 50px auto;
    }

    .box-info {
      gap: 30px 20px;
      justify-content: space-between;
      margin-bottom: 0;

      .info {
        width: auto;

        &:nth-child(2) {
          text-align: right;
        }
      }
    }

    .btn-yellow {
      display: none;
    }

    .value {
      font-size: 26px;
    }
  }

  .sec-2 {
    .left {
      padding: 40px 16px 56px 16px;

      .gap-40 .box {
        width: 100%;
      }
    }

    .right {
      .price {
        line-height: 1.4;
      }

      .table-price {
        colgroup {
          display: none;
        }

        tr {
          td {
            font-size: 12px;

            &:nth-child(1) {
              width: 100px;
            }

            &:nth-child(2) {
              width: 84px;
            }
          }
        }
      }
    }
  }

  .sec-5 .keep {
    font-size: 16px;
  }

  .sec-6 .wrap .title {
    font-size: 35px;
  }

  .sec-6 .wrap .sub-title {
    font-size: 25px;
  }
}

@media(max-width: 500px) {
  .sec-1 {
    .des {
      font-size: 16px;
    }

    .right {
      .value {
        font-size: 20px;

        &.block {
          font-size: 20px;

          small {
            font-size: 16px;
          }
        }

        small {
          font-size: 16px;
        }

        .type {
          font-size: 14px;
        }
      }
    }
  }
  .sec-coin .wrap-info .head .coin-title{
    font-size: 24px;
  }
}