@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Paytone+One&family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
  font-family: "Raleway", "Noto Sans KR", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
*:focus-visible {
  outline: none;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
  font-family: "Paytone One", sans-serif;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-family: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: #000;
  text-decoration: none;
}

button, input, select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: block;
}
button:focus-visible, input:focus-visible, select:focus-visible {
  outline: none;
  border-width: inherit;
}

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button, a {
  cursor: pointer;
}

.mo {
  display: none !important;
}

.wrap {
  max-width: 1400px;
  width: calc(100% - 100px);
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}
.d-flex.v-center {
  align-items: center;
}
.d-flex.h-center {
  justify-content: center;
}
.d-flex.center {
  align-items: center;
  justify-content: center;
}
.d-flex.between {
  justify-content: space-between;
}

.green {
  color: #00C585;
}

.swiper.swiper-1 {
  overflow: visible;
}

.highlight {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.highlight::after {
  content: "";
  width: calc(100% - 13px);
  height: 14px;
  position: absolute;
  bottom: -3px;
  z-index: -1;
}

.btn-yellow {
  width: 202px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  font-size: 15px;
  letter-spacing: 0.2em;
  font-weight: 700;
  border-radius: 12px;
  background-image: linear-gradient(45deg, #000 50%, #FEED01 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 0.5s ease-in-out, color 0.5s;
  position: relative;
}
.btn-yellow:hover {
  background-position: 0;
  color: #FEED01;
}

.link-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FEED01;
  border: 2px solid;
  border-radius: 10px;
}

.toggle {
  display: flex;
  align-items: center;
  padding: 0 13px;
  position: relative;
  background: #FEED01;
  border: 2px solid #000;
  border-radius: 30px;
  height: 30px;
  transition: 0.3s;
  width: 75px;
}
.toggle .text {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  transition: 0.3s;
  line-height: 1;
}
.toggle .text.hide {
  width: 0;
  opacity: 0;
  visibility: hidden;
  text-align: right;
}
.toggle .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FEED01;
  border: 2px solid #000;
  position: absolute;
  left: calc(100% - 24px);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.toggle.active {
  background: #F4F5FB;
}
.toggle.active .text {
  opacity: 0;
  visibility: hidden;
  width: 0;
}
.toggle.active .text.hide {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.toggle.active .circle {
  left: 8px;
}

.accordion {
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin: 0 auto 20px auto;
  transition: 0.3s;
  cursor: pointer;
}
.accordion .btn-accordion {
  width: 25px;
  height: 25px;
  position: relative;
}
.accordion .btn-accordion .line {
  width: 25px;
  height: 4px;
  background: #00C585;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.accordion .btn-accordion .line:nth-child(1) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.accordion .text-accordion {
  flex: 1;
}
.accordion .text-accordion .question {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #303234;
  display: block;
}
.accordion .text-accordion .answer {
  font-weight: 400;
  font-size: 18px;
  color: #969D9E;
  display: block;
  height: 0;
  padding-top: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.2s;
}
.accordion.active .btn-accordion .line:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}
.accordion.active .text-accordion .answer {
  height: auto;
  padding-top: 13px;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-content .hide {
  display: none;
}

.banner {
  display: none;
}

.pop {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-container {
  position: relative;
  text-align: center;
  padding: 50px;
  background: #fff;
  border: 3px solid #000000;
  box-shadow: 15px 15px 0px #000000;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
}
.pop-title {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 25px;
}
.pop-desc {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 25px;
  word-break: break-all;
}
.pop .box-btn {
  display: flex;
  justify-content: center;
  gap: 22px;
  padding: 8px 0;
}
.pop .btn-yellow {
  height: 48px;
}
.pop .btn-close-pop {
  position: absolute;
  right: 24px;
  top: 21px;
}
.pop .pop-icon {
  margin-bottom: 25px;
}

.toast-box {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 9998;
}

.toast {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 34px;
  max-width: 504px;
  width: calc(100vw - 80px);
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(201, 201, 201, 0.4705882353);
  line-height: 1;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: 0.3s;
}
.toast.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.toast .icon {
  width: 24px;
  margin-right: 14px;
}
.toast-success {
  color: #68CB30;
}
.toast-warning {
  color: #E9AA56;
}
.toast-error {
  color: #F7737A;
}
.toast-info {
  color: #909496;
}

@media (max-width: 1024px) {
  .mo {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .accordion {
    gap: 20px;
  }
  .accordion .text-accordion .question {
    font-size: 18px;
  }
  .accordion .text-accordion .answer {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .pop .pop-container {
    width: calc(100% - 60px);
    padding: 30px;
  }
}
.raleway {
  font-family: "Raleway", sans-serif;
}

header.pc {
  position: fixed;
  top: 30px;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  background: #fff;
  height: 105px;
  border-radius: 105px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 900;
  transition: 0.4s ease-out;
  left: 50%;
  transform: translateX(-50%);
}
header.pc nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 25px;
}
header.pc nav .link {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Paytone One", sans-serif;
  color: #000;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: 0.2s;
}
header.pc nav .link:hover {
  background-color: #FEED01;
  border-color: #000;
  padding: 0 15px;
}
header.pc .box-btn {
  display: flex;
  gap: 10px;
  position: relative;
}
header.pc .btn {
  height: 40px;
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EEEEEE;
  border-radius: 50px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.01em;
}
header.pc .btn-yellow {
  background: #FEED01;
  border: 2px solid #000;
}
header.pc .btn-about {
  position: relative;
}
header.pc .btn-about .box-sublink {
  position: absolute;
  left: 0;
  bottom: -128.5px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #000;
  width: 366px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  padding-left: 30px;
}
header.pc .btn-about .box-sublink .link:hover {
  background: #fff;
  border-color: #fff;
  color: #00C585;
  padding: 0;
}
header.pc .btn-about.active {
  background: #FEED01;
  border: 2px solid #000;
  padding: 0 15px;
}
header.pc .btn-about.active .box-sublink {
  opacity: 1;
  visibility: visible;
}
header.pc .btn-language {
  transition: 0.3s;
  position: relative;
}
header.pc .btn-language .wrap-language {
  position: absolute;
  bottom: -93px;
  left: 0;
  height: 80px;
  padding: 0 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: #EEEEEE;
  border-radius: 20px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header.pc .btn-language .language {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
  transition: 0.3s;
  font-weight: 600;
}
header.pc .btn-language .language:not(header.pc .btn-language .language:nth-child(1)) {
  margin-top: 13px;
}
header.pc .btn-language.active .wrap-language {
  opacity: 1;
  visibility: visible;
}
header.pc .btn-language.active .language .icon {
  transform: rotate(180deg);
}
header.pc .btn-yellow {
  width: 104px;
}
header.pc .btn-yellow:hover {
  color: #000;
}
header.pc.hide {
  transform: translate(-50%, calc(-100% - 30px));
}

header.mo {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  background: #fff;
  z-index: 999;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}
header.mo .logo {
  z-index: 9999;
}
header.mo .btn-menu {
  width: 36px;
  height: 24px;
  position: relative;
  z-index: 9999;
}
header.mo .line {
  background: #000;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  position: absolute;
}
header.mo .line:nth-child(1) {
  top: 0;
  transition: top 0.2s 0.3s, transform 0.3s, background-color 0.5s 0.5s;
}
header.mo .line:nth-child(2) {
  top: 11px;
  transition: background-color 0.5s 0.5s;
}
header.mo .line:nth-child(3) {
  bottom: 0;
  transition: bottom 0.2s 0.3s, transform 0.3s, background-color 0.5s 0.5s;
}
header.mo .menu {
  background: #000 url(../images/main/menu-bg.svg) 50% 50%/cover no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  transform: translateY(-100%);
  transition: 0.4s 0.5s;
}
header.mo .menu .menu-container {
  width: 100%;
  min-height: 100%;
  padding: 0 30px;
  padding-top: 130px;
  position: relative;
}
header.mo .menu .link-list {
  text-align: left;
}
header.mo .menu .link-list .link-item {
  margin-bottom: 20px;
}
header.mo .menu .link-list .link-item .link {
  font-size: 5vw;
  color: #fff;
  font-family: "Paytone One", sans-serif;
}
header.mo .menu .link-list .link-item .link.small {
  font-size: 4vw;
  padding-left: 4vw;
  display: block;
}
header.mo .menu .link-list .link-item .link.thin {
  font-family: "raleway, sans-serif";
  font-weight: 300;
  margin-right: 20px;
}
header.mo .menu .link-list .link-item .link.thin img {
  margin-top: 20px;
  width: 40px;
}
header.mo .menu .link-list .link-item:nth-child(6) {
  padding-top: 6vw;
}
header.mo.active .btn-menu .line {
  background: #fff;
}
header.mo.active .btn-menu .line:nth-child(1) {
  transform: rotate(45deg);
  top: 10.5px;
  transition: top 0.2s, transform 0.3s 0.2s, background-color 0.5s 0.5s;
}
header.mo.active .btn-menu .line:nth-child(2) {
  opacity: 0;
  transition: background-color 0.5s 0.5s;
}
header.mo.active .btn-menu .line:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 10.5px;
  transition: top 0.2s, transform 0.3s 0.2s, background-color 0.5s 0.5s;
}
header.mo.active .menu {
  transform: translateY(0);
}

@media screen and (max-width: 1440px) {
  header.pc .logo {
    width: 110px;
  }
  header.pc .btn {
    height: 30px;
  }
  header.pc .btn-language {
    height: auto;
    min-height: 30px;
  }
  header.pc .icon {
    display: none;
  }
}
@media (max-width: 1024px) {
  header.mo {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  header.mo {
    height: 48px;
  }
  header.mo .logo {
    width: 135px;
  }
  header.mo .btn-menu {
    width: 20px;
    height: 16px;
  }
  header.mo .btn-menu .line {
    width: 20px;
  }
  header.mo .btn-menu .line:nth-child(2) {
    top: 7px;
  }
  header.mo.active .btn-menu .line:nth-child(1) {
    top: 7.5px;
  }
  header.mo.active .btn-menu .line:nth-child(3) {
    bottom: 7.5px;
  }
}
footer {
  background: #fff;
  position: relative;
  z-index: 900;
}
footer .wrap {
  padding: 114px 49px 124px 49px;
  position: relative;
}
footer .wrap .top {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 30px 50px;
  border-bottom: 3px solid;
}
footer .wrap .title {
  font-size: 25px;
  line-height: 23px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
footer .wrap .link {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  margin-bottom: 5px;
  display: block;
}
footer .box-link {
  display: flex;
  gap: 50px;
  flex: 1;
}
footer .box-icon {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex: 1;
}
footer .box-icon .d-flex {
  max-width: 250px;
  flex-wrap: wrap;
}
footer .box-icon .title {
  text-transform: unset;
}
footer .box-icon .d-flex {
  gap: 5px;
}
footer .divider-vertical {
  width: 1px;
  height: 195px;
  background: #C0C4CD;
  margin: 0 50px;
}
footer .divider-horizontal {
  width: 100%;
  height: 1px;
  background: #C0C4CD;
  margin: 30px 0;
  display: none;
}
footer .bottom {
  display: flex;
}
footer .bottom .webew {
  margin-right: 30px;
}
footer .bottom .d-flex {
  margin-top: 51px;
}
footer .bottom .copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin-right: 80px;
}
footer .bottom .privacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-decoration-line: underline;
}
footer .cat {
  position: absolute;
  bottom: 50px;
  right: 198px;
}

@media (max-width: 1440px) {
  footer .wrap {
    padding: 80px 49px 96px 49px;
  }
  footer .wrap .top {
    flex-direction: column;
  }
  footer .wrap .top .divider-vertical {
    display: none;
  }
  footer .wrap .top .divider-horizontal {
    display: block;
  }
  footer .wrap .box-icon .d-flex {
    max-width: none;
  }
  footer .cat {
    right: 30px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 90px 16px 85px 16px;
  }
  footer .wrap {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer .wrap .top {
    padding: 0 27px 40px 27px;
  }
  footer .box-link {
    flex-wrap: wrap;
  }
  footer .bottom {
    flex-wrap: wrap;
    padding-top: 120px;
  }
  footer .bottom .webew {
    width: 152px;
    margin-bottom: 10px;
    margin-left: -20px;
  }
  footer .bottom .d-flex {
    width: 100%;
    margin-top: 0;
  }
  footer .bottom .copyright {
    margin-right: 20px;
  }
  footer .cat {
    right: 0;
  }
}
@media (max-width: 450px) {
  footer .cat {
    width: 200px;
  }
  footer .wrap .top {
    padding-left: 0;
    padding-right: 0;
  }
}
.body {
  position: relative;
}
.body::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.body.tezos::after {
  background: #fff url(../images/networks/tezos-bg.jpg) 50% 0 no-repeat;
}
.body.kava::after {
  background: #fff url(../images/networks/kava-bg.jpg) 50% 0 no-repeat;
}
.body.akt::after {
  background: #fff url(../images/networks/akt-bg.jpg) 50% 0 no-repeat;
}

.wrap {
  padding: 0 60px;
}

.title {
  font-size: 35px;
  line-height: 1.4;
}

.sub-title {
  font-size: 30px;
  line-height: 1.4;
}

section {
  margin-bottom: 50px;
}

.sec-coin {
  padding-top: 289px;
  margin-bottom: 30px;
}
.sec-coin .wrap-info {
  max-width: 990px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  margin: 0 auto;
  overflow: hidden;
}
.sec-coin .wrap-info .head {
  width: 100%;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  border-bottom: 1px solid #000;
}
.sec-coin .wrap-info .head .coin-title {
  font-size: 38px;
  line-height: 1.4;
}
.sec-coin .wrap-info .content {
  padding: 30px 20px;
  text-align: center;
}
.sec-coin .wrap-info .validator {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 13px;
  color: #0C0C0C;
}
.sec-coin .wrap-info .address {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 15px;
  color: #090909;
}
.sec-coin .wrap-info .explorer {
  width: 260px;
  height: 40px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  margin: 10px auto 50px auto;
}
.sec-coin .wrap-info .box-info {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 auto 40px auto;
}
.sec-coin .wrap-info .info {
  text-align: left;
}
.sec-coin .wrap-info .type {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 14px;
  color: #282828;
}
.sec-coin .wrap-info .value {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.17;
  letter-spacing: -0.05em;
  margin-bottom: 14px;
  color: #090909;
  font-family: "Roboto", sans-serif;
}
.sec-coin .wrap-info .link-more {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #282828;
}
.sec-coin .wrap-info .btn-yellow {
  width: 175px;
  margin: 0 auto;
}

.sec-1 .wrap {
  display: flex;
}
.sec-1 .sub-title {
  margin-bottom: 30px;
}
.sec-1 .des {
  color: #6E6E6E;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 60px;
}
.sec-1 .box-link {
  display: flex;
  gap: 10px;
}
.sec-1 .left {
  width: 50%;
  padding-right: 50px;
  border-right: 1px solid #000;
}
.sec-1 .right {
  width: 50%;
  padding-left: 50px;
}
.sec-1 .right .factor {
  display: flex;
  gap: 40px 0;
  flex-wrap: wrap;
}
.sec-1 .right .factor .box {
  width: 33.3%;
  text-align: center;
}
.sec-1 .right .value {
  font-size: 30px;
  line-height: 70px;
  vertical-align: middle;
  font-weight: 700;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
}
.sec-1 .right .value.block {
  font-size: 24px;
  line-height: 1;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.sec-1 .right .value.block small {
  font-size: 20px;
}
.sec-1 .right .value small {
  font-weight: inherit;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
.sec-1 .right .type {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #616161;
}

.sec-2 .box-calc {
  border: 1px solid #868686;
  border-radius: 16px;
  overflow: hidden;
}
.sec-2 .head {
  padding: 30px;
  padding-bottom: 19px;
  border-bottom: 1px solid #868686;
}
.sec-2 .head .title {
  margin-bottom: 7px;
}
.sec-2 .head .des {
  font-size: 20px;
  line-height: 1.2;
}
.sec-2 .price {
  text-align: center;
  font-size: 30px;
  line-height: 18px;
  margin-bottom: 30px;
}
.sec-2 .left {
  flex: 1;
  padding: 40px 30px 56px 52px;
}
.sec-2 .left .label-text {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
  font-weight: 500;
}
.sec-2 .left .label {
  width: 100%;
  background: #f3f3f3;
  border: 2px solid #000;
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 0 12px;
}
.sec-2 .left .box-select {
  position: relative;
  border-radius: 8px;
  border: 2px solid #000;
  margin-bottom: 20px;
}
.sec-2 .left .box-select.active {
  border-bottom: 2px solid transparent;
  border-radius: 8px 8px 0 0;
}
.sec-2 .left .box-select.active .arrow {
  transform: rotate(180deg);
}
.sec-2 .left .box-select.active .option-container {
  height: auto;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  pointer-events: all;
}
.sec-2 .left .box-select .select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: #555D67;
  cursor: pointer;
  border: 0;
  margin-bottom: 0;
}
.sec-2 .left .box-select .select input {
  font-family: inherit;
  font-size: inherit;
  pointer-events: none;
}
.sec-2 .left .box-select .option-container {
  height: 0;
  position: absolute;
  left: -2px;
  width: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  border: 2px solid #000;
  border-top: none;
  box-sizing: content-box;
}
.sec-2 .left .box-select .option {
  height: 43px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background: #F3F3F3;
  border-top: #C0C4CD solid 1px;
  font-size: 15px;
  font-weight: 500;
  color: #555d67;
  cursor: pointer;
}
.sec-2 .left .box-select .option:hover {
  background: #C0C4CD;
}
.sec-2 .left .box-select .arrow {
  pointer-events: none;
  width: 16px;
  height: 16px;
  right: 12px;
  position: absolute;
  top: 16px;
  background: url(../images/icon/arrow-down.png) 50% 50%/contain no-repeat;
}
.sec-2 .left .how {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}
.sec-2 .left .box-range {
  width: calc(100% - 36px);
  height: 17px;
  padding: 5px 8px;
  position: relative;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: inset 0px 5px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.sec-2 .left .range {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background-color: transparent;
}
.sec-2 .left .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 31px;
  height: 31px;
  background: url(../images/icon/rangethumb.png) 50% 50%/contain no-repeat;
}
.sec-2 .left .fee {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #7D7D7D;
  margin-bottom: 40px;
}
.sec-2 .left .gap-40 {
  gap: 0 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.sec-2 .left .gap-40 .box {
  width: calc(50% - 20px);
}
.sec-2 .left .gap-40 .box .gray {
  font-weight: 500;
  font-size: 13px;
  font-weight: 1.4;
  font-family: "Noto Sans KR", sans-serif;
  color: #61646B;
  margin-bottom: 12px;
}
.sec-2 .left .info-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.4;
  color: #61646B;
}
.sec-2 .right {
  width: 690px;
  background: #f4f5fb;
  padding: 40px 20px;
}
.sec-2 .right .reward {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
.sec-2 .right .price {
  text-align: left;
  margin-bottom: 35px;
}
.sec-2 .right .graph {
  margin-bottom: 40px;
}
.sec-2 .right .table-price {
  border-spacing: 7px;
  width: 100%;
}
.sec-2 .right .table-price tr {
  height: 50px;
  border-bottom: 1px solid #CECECE;
}
.sec-2 .right .table-price tr td {
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  text-align: right;
  color: #61646B;
}
.sec-2 .right .table-price tr td:nth-child(1) {
  text-align: left;
}

.sec-3 .wrap {
  padding: 26px 55px 62px 55px;
}
.sec-3 .title {
  margin-bottom: 25px;
}
.sec-3 .des {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}
.sec-3 .guide {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  word-break: break-all;
  margin-bottom: 25px;
}
.sec-3 .swiper-box {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}
.sec-3 .swiper-box .swiper-image {
  width: 485px;
  border-radius: 10px;
  border: 2px solid #000;
}
.sec-3 .swiper-box .swiper-image img {
  display: block;
}
.sec-3 .swiper-box .swiper-guide {
  flex: 1;
}
.sec-3 .controller {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sec-3 .controller img {
  width: 26px;
}
.sec-3 .controller .d-flex {
  gap: 10px;
}
.sec-3 .controller .d-flex span {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  font-family: "roboto", sans-serif;
}

.sec-4 {
  padding: 0 60px;
}
.sec-4 .title {
  margin-bottom: 20px;
}
.sec-4 .accordion {
  padding: 15px 30px;
  margin-bottom: 10px;
  background: #F4F5FB;
}
.sec-4 .accordion:nth-last-of-type(1) {
  margin-bottom: 35px;
}
.sec-4 .more {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #666;
  text-align: right;
  display: block;
  text-transform: uppercase;
}

.sec-5 .wrap {
  padding: 0 60px;
}
.sec-5 .title {
  margin-bottom: 32px;
}
.sec-5 .keep {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 32px;
}
.sec-5 .d-flex {
  gap: 45px;
}

.sec-6 .wrap {
  padding: 50px 60px;
  text-align: center;
}
.sec-6 .wrap .title {
  font-size: 45px;
  line-height: 18px;
  margin-bottom: 40px;
}
.sec-6 .wrap .sub-title {
  line-height: 18px;
  margin-bottom: 100px;
}
.sec-6 .wrap .d-flex {
  gap: 15px;
}

@media (max-width: 1440px) {
  .wrap {
    padding: 0;
    width: calc(100% - 60px);
  }
  .sec-1 .left {
    padding-right: 30px;
  }
  .sec-1 .right {
    padding-left: 30px;
  }
  .sec-1 .box-link {
    flex-wrap: wrap;
  }
  .sec-1 .des {
    margin-bottom: 30px;
  }
  .sec-2 .d-flex {
    flex-wrap: wrap;
    gap: 30px;
  }
  .sec-2 .right {
    width: 100%;
  }
  .sec-3 .wrap {
    padding: 26px 0 62px 0;
  }
  .sec-4 {
    padding: 0;
  }
  .sec-5 .wrap {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .sec-coin {
    padding-top: 140px;
  }
  .sec-coin .wrap-info {
    margin: 0 30px;
  }
  .sec-coin .wrap-info .box-info {
    gap: 30px 50px;
    flex-wrap: wrap;
  }
  .sec-coin .wrap-info .box-info .info {
    width: calc(50% - 25px);
  }
  .sec-coin .wrap-info .address {
    font-size: 22px;
  }
}
@media (max-width: 900px) {
  .body.tezos::after {
    height: 70vh;
    background: #fff url(../images/networks/tezos-bg-mo.jpg) 50% 0/cover no-repeat;
  }
  .sec-1 .wrap {
    flex-wrap: wrap;
  }
  .sec-1 .left,
  .sec-1 .right {
    width: 100%;
    padding: 0;
  }
  .sec-1 .left {
    border-right: none;
    border-bottom: 1px solid #000;
    padding-bottom: 50px;
  }
  .sec-1 .right {
    padding-top: 50px;
  }
  .sec-3 .swiper-box {
    flex-wrap: wrap;
  }
  .sec-3 .swiper-box .swiper-image {
    margin-left: 0;
  }
  .sec-3 .swiper-box .swiper-guide {
    flex: none;
    width: 100%;
  }
  .sec-6 .wrap {
    padding: 0;
  }
  .sec-6 .wrap .title {
    line-height: 1.4;
  }
  .sec-6 .wrap .sub-title {
    line-height: 1.4;
  }
  .swiper-wallets .swiper-slide {
    width: 220px;
  }
  .swiper-have .swiper-slide {
    width: 244px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
  .wrap {
    width: calc(100% - 32px);
  }
  .sec-coin {
    padding-top: 130px;
  }
  .sec-coin .wrap-info .head img {
    width: 40px;
  }
  .sec-coin .wrap-info .head .coin-title {
    font-size: 32px;
  }
  .sec-coin .wrap-info .validator {
    text-align: left;
  }
  .sec-coin .wrap-info .address {
    word-break: break-all;
    text-align: left;
    font-size: 18px;
  }
  .sec-coin .wrap-info .explorer {
    margin: 32px auto 50px auto;
  }
  .sec-coin .wrap-info .box-info {
    gap: 30px 20px;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .sec-coin .wrap-info .box-info .info {
    width: auto;
  }
  .sec-coin .wrap-info .box-info .info:nth-child(2) {
    text-align: right;
  }
  .sec-coin .wrap-info .btn-yellow {
    display: none;
  }
  .sec-coin .wrap-info .value {
    font-size: 26px;
  }
  .sec-2 .left {
    padding: 40px 16px 56px 16px;
  }
  .sec-2 .left .gap-40 .box {
    width: 100%;
  }
  .sec-2 .right .price {
    line-height: 1.4;
  }
  .sec-2 .right .table-price colgroup {
    display: none;
  }
  .sec-2 .right .table-price tr td {
    font-size: 12px;
  }
  .sec-2 .right .table-price tr td:nth-child(1) {
    width: 100px;
  }
  .sec-2 .right .table-price tr td:nth-child(2) {
    width: 84px;
  }
  .sec-5 .keep {
    font-size: 16px;
  }
  .sec-6 .wrap .title {
    font-size: 35px;
  }
  .sec-6 .wrap .sub-title {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .sec-1 .des {
    font-size: 16px;
  }
  .sec-1 .right .value {
    font-size: 20px;
  }
  .sec-1 .right .value.block {
    font-size: 20px;
  }
  .sec-1 .right .value.block small {
    font-size: 16px;
  }
  .sec-1 .right .value small {
    font-size: 16px;
  }
  .sec-1 .right .value .type {
    font-size: 14px;
  }
}/*# sourceMappingURL=networks.css.map */